/.vs/AkCtkFrame/v14/.suo
/AkCtkFrame.VC.db
/AkCtkFrame/AkCtkFrame.vcxproj.user
/AkCtkFrame/Debug/AkCtkFrame.log
/AkCtkFrame/Debug/AkCtkFrame.tlog/AkCtkFrame.lastbuildstate
/AkCtkFrame/Debug/AkCtkFrame.tlog/CL.command.1.tlog
/AkCtkFrame/Debug/AkCtkFrame.tlog/unsuccessfulbuild
/AkCtkFrame/Debug/vc140.pdb
/CtkMainWindow/CtkMainWindow.vcxproj.user
/CtkMainWindow/Debug/CtkMainWindow.log
/CtkMainWindow/Debug/CtkMainWindow.tlog/CtkMainWindow.lastbuildstate
/CtkMainWindow/Debug/CtkMainWindow.tlog/custombuild.command.1.tlog
/CtkMainWindow/Debug/CtkMainWindow.tlog/custombuild.read.1.tlog
/CtkMainWindow/Debug/CtkMainWindow.tlog/custombuild.write.1.tlog
/CtkMainWindow/Debug/CtkMainWindow.tlog/unsuccessfulbuild
/CtkMainWindow/GeneratedFiles/Debug/moc_LoginWidget.cpp
/CtkMainWindow/GeneratedFiles/Debug/moc_WidgetManager.cpp
/CtkMainWindow/GeneratedFiles/Debug/moc_WidgetShow.cpp
/CtkMainWindow/GeneratedFiles/ui_WidgetShow.h
/NetManager/Debug/NetManager.log
/NetManager/Debug/NetManager.tlog/NetManager.lastbuildstate
/NetManager/Debug/NetManager.tlog/custombuild.command.1.tlog
/NetManager/Debug/NetManager.tlog/custombuild.read.1.tlog
/NetManager/Debug/NetManager.tlog/custombuild.write.1.tlog
/NetManager/Debug/NetManager.tlog/unsuccessfulbuild
/NetManager/GeneratedFiles/Debug/moc_TestEventSend.cpp
/NetManager/GeneratedFiles/qrc_Resource.cpp
/NetManager/NetManager.vcxproj.user
/QtDbTemple/Debug/QtDbTemple.tlog/QtDbTemple.lastbuildstate
/QtDbTemple/Debug/QtDbTemple.tlog/custombuild.command.1.tlog
/QtDbTemple/Debug/QtDbTemple.tlog/custombuild.read.1.tlog
/QtDbTemple/Debug/QtDbTemple.tlog/custombuild.write.1.tlog
/QtDbTemple/Debug/QtDbTemple.tlog/unsuccessfulbuild
/QtDbTemple/Debug/qtdbtemple.log
/QtDbTemple/GeneratedFiles/qrc_resource.cpp
/QtDbTemple/qtdbtemple.vcxproj.user
